<nav>
    <ul>
        <li>
            <a [routerLink]="['/recette']">
                Recette Module
            </a>
        </li>
        <li>
            <a [routerLink]="['/todo']">
                Todo Module
            </a>
        </li>
        <li>
            <a [routerLink]="['/compteur']">
                Compteur Module
            </a>
        </li>
        <li>
            <a [routerLink]="['/disney']">
                Disney personnage
            </a>
        </li>
        <li>
            <a [routerLink]="['/homme']">
                Homme module
            </a>
        </li>
        <li>
            <a [routerLink]="['/game']">
                Game module
            </a>
        </li>
    </ul>
</nav>

<router-outlet></router-outlet>
